@model IEnumerable<wxhy.Models.lybusiness>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.businessname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logindode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loginpassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.businessname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logindode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loginpassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.businessId }) |
            @Html.ActionLink("Details", "Details", new { id=item.businessId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.businessId })
        </td>
    </tr>
}

</table>
