@model wxhy.Models.lycustomer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lycustomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.businessId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.openid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.openid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.headimgurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.headimgurl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suscribetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suscribetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unionid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unionid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groupid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tagidlist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tagidlist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.csttype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csttype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interestproduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interestproduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referees)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cstId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
